*, *::after, *::before {
    box-sizing: border-box;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CellDesk {
  max-width: 200px;
}